/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #navigation {
    text-align: right;
    margin: 5px;
    padding: 5px;
  }

  #search-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 12px;
  }
  
  input[type="submit"] {
    width: 200px;
    height: 30px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  a {
    margin-top: 10px;
    /* text-decoration: none; */
    color: #4285F4;
  }
  
  /* index.html specific styles */
  #search-bar {
    font-size: 20px;
  }
  
  /* advanced-search.html specific styles */
  label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }
  